name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 6 * * 4'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        java-version: 17
        distribution: adopt
    - uses: sbt/setup-sbt@v1
    - uses: coursier/cache-action@v8
    # TODO run `migrate domain/checkGeneratedCode`
    - run: sbt scalafmtCheckAll scalafmtSbtCheck compile test
