name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 6 * * 4'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: 17
        distribution: adopt
    - uses: sbt/setup-sbt@v1
    - uses: coursier/cache-action@v7
    # TODO run `migrate domain/checkGeneratedCode`
    - run: sbt scalafmtCheckAll scalafmtSbtCheck compile test
